<h2 class="text-center mt-4"> Listing Topics </h2>
<% if @topics.length > 0 %>
    <table class="table table-bordered table-dark mt-2">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% @topics.each do |topic| %>
                <tr>
                    <td><%= link_to topic.title, topic_path(topic) %></td>
                    <td><%= topic.description %></td>
                    <td>
                        <%= pluralize(topic.votes.count, "Vote") %>
                        <%= link_to "+1", upvote_topic_path(topic), method: :post, class: "btn btn-primary" %> 
                        <%= link_to "-1", downvote_topic_path(topic), method: :delete, class: "btn btn-secondary" %>
                        <%= link_to 'Edit', edit_topic_path(topic) %> |
                        <%= link_to 'Delete', topic_path(topic), method: :delete, data: {confirm: "Are you sure?"} %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
<% else  %>
    <h3> There's no data </h3>
<% end  %>
<%= link_to 'New Topic', new_topic_path %>